{% load static %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load widget_tweaks %}

<html>
<head>
    <title>DragDrop</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>


<body>

<form action="{% url 'app:index' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
    <tr>
        <th>画像</th>
        <th>{{ form.image }}</th>
    </tr>
    <button type="submit" class="btn">保存</button>
</form>





<!-- アップロードした画像を表示 -->

<!-- <div class="images-container">
{% for img in images %}
    <div class="image">
        <a href="{% url 'app:images_detail' img.id %}">
            <img src="{{ img.image.url }}" class="image-img">
        </a>
        <div class="image-info">
            <a href="{% url 'app:images_category' category=img.category %}" class="category">{{ img.category }}</a>
            <a href="{% url 'app:users_detail' img.user.id %}">@{{img.user}}</a>
        </div>
    </div>
{% endfor %}
</div> -->

</body>
